.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    gap: 2%;
  }
}

.facebookSignIn {
  width: 100%;
  background-color: rgb(51, 1, 231);
  color: white;
}

@media screen and (max-width: 450px) {
  .sign-in {
    width: 100%;
    padding: 0 40px;
  }
}
