.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;

  .title {
    margin: 0 0;
  }
}

@media screen and (min-width: 2000px) {
}

@media screen and (max-width: 1150px) {
}

@media screen and (max-width: 650px) {
  .sign-up {
    display: none;
  }
}

@media screen and (max-width: 450px) {
}
